* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style: none;
}

a {
    color: #fff;
}

/* Header */

header {
    background-color: #1d1d1f;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    color: #fff;
}

nav ul li {
    padding: 10px;
}

nav ul li:hover {
    opacity: 0.85;
    cursor: pointer;
}

/* Content */

#content {
    background-color: #F8DC3E;
    width: 50vw;
    height: 50vh;
    margin: 15vh auto;
    border-radius: 10px;
}

#content h1 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#content p {
    display: flex;
}

#content-item {
    background-color: #1d1f1f;
    width: 45vw;
    height: 32vh;
    margin: 5vh auto;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content-input {
    margin: 40px;
    font-size: 1.2rem;
}

#content-input input {
    width: 100px;
    text-align: center;
}

/* button */

#btn {
    cursor: pointer;
}

/* Div resultado */

#res {
    margin: auto;
    width: 40vw;
    height: 10vh;
    border-radius: 10px;
    text-align: center;
}

/* footer */

footer {
    background-color: #1d1d1f;
    color: #fff;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}